<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
   <context:component-scan base-package="com.yyt"/>
   
   <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
   		<property name="host" value="${mail.smtp.host}"/>
   		<property name="password" value="${mail.smtp.password}"/>
   		<property name="username" value="${mail.smtp.username}"/>
   		<property name="defaultEncoding" value="${mail.smtp.defaultEncoding}"/>
   		<property name="javaMailProperties">
   			<props>
   				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
   				<prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
   			</props>
   		</property>
   </bean>
</beans>