<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyt.mapper.VoteUserMapper" >
  <select id="userLogin" parameterType="VoteUser" resultType="VoteUser">
  	select * from VoteUser where vuUsername=#{vuusername} and vupassword=#{vupassword}
  </select>
  <insert id="addVoteUser" parameterType="VoteUser">
  	<trim prefix="insert into VoteUser(vuId," suffix=")" suffixOverrides="," prefixOverrides=",">
  		<if test="vuusername!=null and vuusername!=''">
  			vuusername,
  		</if>
  		<if test="vupassword!=null and vupassword!=''">
  			vupassword,
  		</if>
  		<if test="vustatus!=null and vustatus!=0">
  			vustatus,
  		</if>
  		<if test="vuversion!=null and vuversion!=0">
  			vuversion
  		</if>
  	</trim>
  	<trim suffix=")" prefix=" values(seq_vuid.nextval," suffixOverrides="," prefixOverrides=",">
  		<if test="vuusername!=null and vuusername!=''">
  			#{vuusername},
  		</if>
  		<if test="vupassword!=null and vupassword!=''">
  			#{vupassword},
  		</if>
  		<if test="vustatus!=null and vustatus!=0">
  			#{vustatus},
  		</if>
  		<if test="vuversion!=null and vuversion!=0">
  			#{vuversion}
  		</if>
  	</trim>
  </insert>
</mapper>